$main-width: 300px;
$O: url(./SVG/O.svg);
$X: url(./SVG/X.svg);

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #cdcdcd;
    gap: 30px;
    margin: 0;
}

.title-container {
    background-color: transparent;
    height: 50px;
    width: $main-width;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid dodgerblue;

    h1 {
        color: rgb(36, 36, 36);
        font-size: 40px;
    }
}

.board-container {
    width: $main-width;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;

    :first-child {
        @extend .grid-slot;
        /* animation-name: selected; */
        animation-duration: 0.6s;
        animation-iteration-count: 1;
        animation-timing-function: linear;
    }

    .grid-slot {
        border-radius: 6px;
        box-shadow: 3px 3px 5px rgba(44, 44, 44, 0.4);
        background-color: rgb(230, 230, 230);
        background-image: "";
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.display-info-container {
    width: $main-width;
    height: 200px;
    background-color: rgb(230, 230, 230);
    border-radius: 13px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);

    >* {
        height: 100%;
        width: 100%;
    }

    .new-game-info {
        background-color: transparent;
        display: block;

        .start-button {
            background-color: dodgerblue;
            border-radius: 13px;
            padding: 12px 50px;
            border: none;
            color: white;
            letter-spacing: 3px;
            font-weight: 700;
            font-size: 20px;
            height: auto;
            width: auto;
            margin: 75px auto 0 auto;
            display: block;
        }

        .start-button:hover {
            filter: brightness(95%);
        }

        .start-button:active {
            filter: brightness(85%);
        }
    }

    .opponent-selection-info {
        display: none;
        padding: 0 25px;

        .versus-txt {
            font-size: 20px;
            height: 40px;
            margin: 50px 0 15px 0;
            text-align: center;
        }

        .versus-but-container {
            display: flex;
            padding: 12px;
            gap: 12px;
            height: 50px;
            justify-content: center;
            align-items: center;

            >* {
                padding: 0;
                height: 40px;
                font-size: 15px;
                border: none;
                border-radius: 6px;
                flex: 1;
                background-color: dodgerblue;
                color: white;
            }
        }
    }

    .naming-player-info {
        display: none;
        padding: 10px 50px;

        >* {
            display: block;
            margin: 25px auto 0 auto;
            text-align: center;
            width: 100%;
        }

        button {
            height: auto;
            width: 100%;
            padding: 12px 50px;
            border: none;
            border-radius: 5px;
            background-color: dodgerblue;
            color: white;
            font-weight: 600;
            letter-spacing: 2px;
        }

    }

    .score-board-info {
        display: none;
        padding: 13px 15px;

        .announcer-container {
            height: 50px;

            >* {
                margin: 0;
                padding: 0;
                text-align: center;
                font-size: 20px;
            }

        }

        .scoreboard-container {
            height: 130px;
            display: flex;
            gap: 5px;

            >* {
                height: 100%;
                width: 100%;


                > :first-child {
                    display: flex;
                    justify-content: center;
                    margin: auto;

                    >* {
                        padding: 0;
                        margin: 0;

                    }

                    .x-icon {
                        background-image: $X;
                        height: 15px;
                        width: 15px;
                        margin-left: 5px;
                    }

                    .o-icon {
                        background-image: $O;
                        height: 15px;
                        width: 15px;
                        margin-left: 5px;
                    }
                }

                > :last-child {
                    background-color: dodgerblue;
                    height: 75px;
                    width: 60px;
                    margin: auto;
                    margin-top: 15px;
                    text-align: center;
                    color: white;
                    font-size: 35px;
                    padding: 15px 0;
                    border-radius: 10px;
                }
            }
        }
    }

    .popup-container {
        display: none;
        width: 120%;
        height: 130px;
        background-color: red;
        position: relative;
        top: -290px;
        left: -30px;
        border-radius: 13px;
        background-color: rgb(230, 230, 230);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
        padding: 20px 50px;

        p {
            text-align: center;
            font-size: 20px;
            margin: 0;
            margin-bottom: 20px;
        }

        >div {
            display: flex;
            gap: 10px;

            >* {
                flex: 1;
                height: 40px;
                border: none;
                font-size: 15px;
                border-radius: 7px;
                font-weight: 600;
                letter-spacing: 2px;
                color: white;
                background-color: dodgerblue;
            }

            > :first-child {
                background-color: rgb(234, 95, 129);
            }
        }
    }

}

//flipping grid animation
@keyframes selected {
    0% {
        transform: scale3d(1, 1, 1);
        box-shadow: 3px 3px 5px rgb(44, 44, 44);
        background-image: linear-gradient(90deg, rgb(230, 230, 230), rgb(230, 230, 230));
        z-index: 2;
    }

    50% {
        transform: scale3d(0, 1.3, 1.3);
        background-image: linear-gradient(90deg, rgb(230, 230, 230), #919191);
        box-shadow: 3px 3px 5px rgb(44, 44, 44);
    }

    51% {
        background-image: linear-gradient(90deg, #919191, rgb(230, 230, 230));
    }

    100% {
        transform: scale3d(1, 1, 1);
        box-shadow: 3px 3px 5px rgb(44, 44, 44);
        background-image: linear-gradient(90deg, rgb(230, 230, 230), rgb(230, 230, 230));
        z-index: 2;
    }
}